body
{
    text-align: center;
    font-family: "Arial";
}

#cabecera{
    color: aliceblue;
    background-color: black;
}


.directorio{
    border: 3px, black;
    
}

.directorio h1{
    color: blueviolet;
}